:root {
  
  font-size: 62.5%;
  
  --ff-title: 'Staatliches', cursive, sans-serif;
  --fc-title: #FFFFFF;
  --fs-title: 5rem;

  --ff-intro-text: 'Palanquin', sans-serif;
  --fc-intro-text: #23053A;
  --fs-intro-text: 2rem;
  
  --bg-page: #EFF1FF;
  --bg-header: #8E9AAF;
  --bg-title: #CBC0D3;

  --bg-image-subtitle: #FEEAFA;
  --fc-image-subtitle: #4A4E69;

  --ff-footer: 'Open Sans', sans-serif;
  --fs-footer: 1.4rem;
  --fc-footer: #4A4E69;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--bg-page);
}

body::before {
  content: '';
  width: 100%;
  height: 28rem;
  /* background-color: var(--bg-header); ---> substituído por bg animado  */
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  animation: gradient 7s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
  background-size: 300% 300%;
}

.page {
  max-width: 38.4rem;
  margin: 0 auto;
}

header {
  text-align: center;
}

.logo {
  width: 13.7rem;
  height: 13.7rem;
  margin: 3.2rem auto 3.2rem;
}

.title {
  display: flex;
  width: 100%;
  height: 5rem;
  
  font-family: var(--ff-title);
  font-weight: 400;
  font-size: var(--fs-title);
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  align-items: center;
  justify-content: center;
  color: var(--fc-title);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 5rem;
}

.intro-text {
  font-family: var(--ff-intro-text);
  font-weight: 400;
  font-size: var(--fs-intro-text);
  line-height: 2rem;
  color: var(--fc-intro-text);
  text-align: center;
  padding: 1rem 3.1rem 0;
}

.card-wrapper {
  max-width: 32rem;
  display: grid;
  gap: 3.2rem;
  margin: 6.3rem auto 6rem;
}

.card {
  position: relative;
}

.card:hover {
  animation: pulse 0.8s infinite;
}

.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  width: 11.2rem;
  height: 3.5rem;
  border-radius: 2rem;
  text-align: center;
  background-color: var(--bg-image-subtitle);

  font-family: var(--ff-title);
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--fc-image-subtitle);

  animation: topdown 2s 350ms;
}

.card img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 2rem;
}

footer {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.8rem;
  margin: 5rem auto 4.6rem;
}

/* Desktop Version */

@media (min-width: 700px) {

  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.8rem;
    margin: 5rem auto 4.6rem;
  }

  footer span {
    font-family: var(--ff-footer);
    font-size: var(--fs-footer);
    font-weight: 400;
    line-height: 2.8rem;
    color: var(--fc-footer);
  }

  footer a {
    font-family: var(--ff-footer);
    font-size: var(--fs-footer);
    font-weight: 700;
    color: var(--fc-footer);
    cursor: pointer;
  }
}

@media (min-width: 930px) {
  
  :root {
    --fs-title: 4.8rem;

    --ff-intro-text: 'Roboto', sans-serif;
    --fc-intro-text: #FFFFFF;
  }
  
  body::before {
    width: 0;
  }

  .page {
    display: flex;
    flex-direction: row;
    max-width: 140rem;
    margin: 0;
  }

  header {
    width: 37.7rem;
    min-height: 100vh;

    animation: gradient 7s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
    background-size: 300% 300%;
  }

  .card-wrapper {
    display: grid;
    max-width: 90rem;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-areas: 
      "img-A img-B img-B"
      "img-C img-C img-D" 
      "img-E img-F img-F"
    ;
   
    gap: 3.2rem;
    margin: 0 auto;
    padding: 6.4rem 8rem 0;
  }
  
  .card:nth-child(1) {
    grid-area: img-A;
  }

  .card:nth-child(2) {
    grid-area: img-B;
  }

  .card:nth-child(3) {
    grid-area: img-C;
  }

  .card:nth-child(4) {
    grid-area: img-D;
  }

  .card:nth-child(5) {
    grid-area: img-E;
  }

  .card:nth-child(6) {
    grid-area: img-F;
  }
}

/* background header animation */

@keyframes gradient {
  
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* subtitle animation */

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* card animation */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
